.dock-haut {
  padding: 0 470px 0 470px;
  position: fixed;
  top: -3%;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24); */
}
.dock-background-strip-perso-up {
  width: 100%;
  height: 2%;
  background-color: rgba(49, 47, 48, 1);
  position: fixed;
  left: 0;
  top: 0;
}
/* .flex-wrapper-one {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/8d9bc554-7fd4-441e-9d40-de31e4db18d0.svg");
  padding: 30px 470.7px 0 470.69px;
  position: relative;
  left: -35%;
} */
.dock-container-haut {
  width: 200%;
  height: 100%;
  /* background-color: rgba(49, 47, 48, 0.26); */
  position: relative;
  left: -55%;
}
.mode-realiste-font-perso {
  position: fixed;
  top: 4%;
  left: 36%;
  font-family: "Exo 2" sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 35px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  /* z-index: -2; */
  background-size: cover;
  background-image: url("https://static.overlay-tech.com/assets/6707e3be-06ec-4caa-8748-4bafbb214ae1.png");
}
